
{% extends "layout.html" %}
{% block content %}

  <!-- Header -->
  <header id="sims">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    
    <div class="w3-container">
    <h2><b>Contact us</b></h2>
    </div>
  </header>
  
  <div class="w3-container w3-twothird">
    
    <!-- Info box -->
    <div class="w3-card w3-margin-bottom" style="padding: 4px;">
    <div class="w3-container w3-white">
      <div class="w3-container w3-cell-row w3-cell-middle">
        <h4 id="info-title">System Administrators</h4>
      </div>
      <div class="w3-container">
        <p style="margin-top:0px">This web interface is hosted by Queen Mary University of London. Please get in touch with <a href="mailto:philbull@gmail.com">Phil Bull</a> with questions and tech support issues.</p>
      </div>
    </div>
    </div>
    <!-- End info box -->
    
    <!-- Info box -->
    <div class="w3-card w3-margin-bottom" style="padding: 4px;">
    <div class="w3-container w3-white">
      <div class="w3-container w3-cell-row w3-cell-middle">
        <h4 id="info-title">SKA Cosmology Simulations focus group</h4>
      </div>
      <div class="w3-container">
      <p style="margin-top:0px">The SKA Cosmology Simulations focus group is coordinated by David Alonso (U. Cardiff) and Francisco Villaescusa-Navarro (CCA).</p>
      </div>
    </div>
    </div>
    <!-- End info box -->
    
  </div>
  
  <!-- Spacer -->
  <div class="w3-panel">
   <br>
  </div>

{% endblock %}

